@CHARSET "ISO-8859-1";

body{
    
    background-image: url("#{resource['image/urbis2.jpg']}"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.ui-widget, .ui-widget .ui-widget 
{
    font-size: 95% !important; 
     
}

